[2016-10-05 13:21] lkoba opened #11 "Node cleanup on Kubernetes"
I'm not sure if this is the correct place to report this since the issue is related to the calico/node DaemonSet installed by canal.

When increasing and decreasing our node count to handle for load spikes I found out that calico/node will fail if the IP address of the node was already used before. This leaves the newly added node broken.

My solution is to run this after draining and deleting a n

[2016-10-05 17:04] caseydavenport commented on #11
@lkoba Thanks for raising this.  This does affect all Calico Kubernetes deployments, as there is currently no way to detect when a node has been taken down for good or if it has only gone down temporarily.

I'll have to think a bit about what we can do to make this better, but that solution is the correct way to handle this in the meantime.

[2016-10-05 17:21] lkoba commented on #11
The error message on calico/node included the node name associated with the IP.  It could check the Kubernetes API and run the cleanup itself if it doesn't exist or fail otherwise.

[2016-10-05 20:22] sbezverk opened #12 "calico cni (canal) connectivity issue"
Issue filed as well on calico cni page: https://github.com/projectcalico/calico-cni/issues/183

Hello,
I am running kubernetes 1.4.0 with canal cni. All cni required pods are running. See output below. I am observing connectivity issue between container running in a pod. It cannot even ping local's host flannel interface. When I ping anything outside, example another host's flannel intreface, and

[2016-10-13 23:40] sbezverk opened #13 "cni network type is configured as calico but cni.go is looking for loopback binary"
Hello,
I do a fresh installation of canal cni plugin. Here is the file which get landed in /etc/cni/net.d

/etc/cni/net.d/10-canal.conf
{
    "name": "canal",
    "type": "flannel",
    "delegate": {
      "type": "calico",
      "etcd_endpoints": "http://10.57.32.11:6666",
      "log_level": "debug",
      "policy": {
        "type": "k8s",
         "k8s_api_root": "https://10.57.32.1:443",

[2016-10-14 00:14] caseydavenport commented on #13
@sbezverk I believe you're encountering this issue: https://github.com/kubernetes/kubernetes/issues/30681

As of Kubernetes v1.3.5, the `loopback` plugin is required no matter what CNI plugin you're using.  The guides in this repo assume that it is installed as one of the Kubernetes dependencies.

You can install the binary yourself from here: https://github.com/containernetworking/cni/releases

[2016-10-14 00:16] caseydavenport opened #14 "Install loopback plugin"
Kubernetes depends on the `loopback` plugin being installed. See here: https://github.com/kubernetes/kubernetes/issues/30681

Canal itself doesn't need this, but Kubernetes fails without it.  Should the self-hosted manifests support installing this binary?

In the meantime, users need to make sure they are installing a CNI release from here: https://github.com/containernetworking/cni/releases

[2016-10-14 00:17] caseydavenport commented on #14
@tomdee What do you think? On one hand, it's not really a canal component. On the other hand, users hit this a lot.

[2016-10-14 00:17] caseydavenport commented on #13
@sbezverk I've raised https://github.com/tigera/canal/issues/14 to track this.

It's unclear whether or not canal should be responsible for installing the loopback plugin, but maybe it makes sense to ease some of the pain for users.

[2016-10-14 00:17] #13 closed

[2016-10-17 10:03] kharisj opened #15 "Job/configure-canal CrashLoopBackOff"
They cannot start configure canal container in kubernetes's node as following

[code]

and from docker container

[code]

Config.yaml

[code]

[2016-10-17 10:07] kharisj commented on #15
`[root@master manifests]# kubectl describe -n kube-system po configure-canal-ds7dp
Name:           configure-canal-ds7dp
Namespace:      kube-system
Node:           minion02.local/192.168.10.140
Start Time:     Mon, 17 Oct 2016 16:49:10 +0700
Labels:         controller-uid=f41aae19-944e-11e6-af58-000c29d821b6
                job-name=configure-canal
Status:         Running
IP:             192.168.

[2016-10-20 22:57] caseydavenport commented on #15
Seems to indicate that it isn't picking up the correct `etcd_endpoints` (since your config seems to indicate `etcd_endpoints: "http://192.168.10.137:2379"`

Interestingly, it does look like the pod is picking it up: `ETCDCTL_PEERS:    <set to the key 'etcd_endpoints' of config map 'canal-config'>`

I'm not sure what exactly, but something is going wrong in populating `ETCDCTL_PEERS`.  Can you veri

[2016-10-21 02:33] kharisj commented on #15
I tried to bringing system up again but I think it's too late everything is changed. I give up and head to use kubeadm so it's not working again may be trouble than before. As my attached it's all Crash.
[canal.log.txt](https://github.com/tigera/canal/files/543392/canal.txt)
[canal.yaml.txt](https://github.com/tigera/canal/files/543396/canal.yaml.txt)

[2016-10-25 17:45] tomdee commented on #14
I'm not sure. The whole loopback plugin thing is a little "extreme". I think it's reasonably straightforward for us to add it, so maybe we should?

[2016-11-02 17:36] caseydavenport opened #16 "Update the service cluserIP used for canal etcd in hosted install."
See here:  https://github.com/kubernetes/kubernetes.github.io/pull/1608/files#diff-d815373181beaa60de5c28956e4ba3fcR120

[2016-11-02 17:45] caseydavenport commented on #15
@kharisj It looks like me like etcd is misconfigured. Can you share the way you're running etcd / double check that it is properly configured?

[2016-11-06 01:24] matthewdupre opened #19 "Move to etcdless Canal"
Currently you can install etcdless Flannel with [kube-flannel](https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml), and etcdless Calico (experimental) with https://raw.githubusercontent.com/projectcalico/calico/master/master/getting-started/kubernetes/installation/hosted/k8s-backend/calico.yaml.

Once the k8s backend for Calico has had a bit more testing; this r

[2016-11-10 06:09] caseydavenport commented on #16
@gunjan5 could you investigate this to make sure we work with the [latest kubeadm](http://kubernetes.io/docs/getting-started-guides/kubeadm/)?

[2016-11-15 00:59] gunjan5 commented on #16
Fixed in #21

[2016-11-15 00:59] #16 closed

[2016-11-17 20:50] caseydavenport opened #22 "Document kubelet CNI dependency"
Self-hosted install should document that `--network-plugin=cni` is required and `--cni-conf-dir` and `--cni-bin-dir` are set properly.

[2016-11-18 21:00] micahhausler opened #23 "Canal self-hosted not authorized to talk to Kubernetes"

[2016-11-18 21:26] micahhausler opened #24 "Canal self-hosted failing - not properly authenticating with Kubernetes"
I am unable to get self-hosted (or manual install) of Canal to authenticate with Kubernetes.

**Cloud provider:** AWS (VPC)
**OS:** Coreos 1185.3.0
**Kernel:** ```Linux ip-172-31-7-173.us-west-2.compute.internal 4.7.3-coreos-r2 #1 SMP Tue Nov 1 01:38:43 UTC 2016 x86_64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz GenuineIntel GNU/Linux```
**Kubernetes version:** v1.4.6
**Docker version:** 1.11.2

My

[2016-11-21 10:46] mattbates commented on #24
@seanturner83

[2016-11-21 10:48] mattbates commented on #19
@seanturner83

[2016-11-21 16:48] caseydavenport commented on #19
I've opened #25 to do this :)

[2016-11-21 16:51] micahhausler commented on #24
Also, as part of my kubelet boostrap, I'm installing v0.3.0 of https://github.com/containernetworking/cni/ into `/opt/cni/bin/`

[2016-11-21 17:34] #19 closed

[2016-11-21 17:45] micahhausler commented on #24
I found the source of the problem: The `Policy` struct's `K8sAuthToken` field is looking for
the [json key `k8s_auth_token`](https://github.com/projectcalico/calico-cni/blob/7dc33154eca6311400bebfba3c94eea9491314da/utils/types.go#L13) and the network config being generated at `/etc/cni/net.d/10-canal.conf ` has the json key [`k8s_api_token`](https://github.com/tigera/canal/blob/6adb7edd615969a4a84

[2016-11-21 17:48] caseydavenport commented on #24
@micahhausler d'oh, sorry about that!

Thanks for the PR :)

[2016-11-21 17:48] #24 closed

[2016-11-23 23:00] caseydavenport commented on #14
Assigned to @heschlie since he's doing this for Calico CNI.

[2016-12-06 14:41] heschlie commented on #14
Resolved in https://github.com/projectcalico/calico-cni/pull/211

[2016-12-06 14:41] #14 closed

[2016-12-10 05:01] #15 closed

[2016-12-21 08:33] renmaosheng opened #27 "some minor issues found in canal.yaml"
In canal.yaml:
1. it seems 10-canal.conf should be 10-calico.conf. the calico node will read 10-calico.conf.
2. in older kubernetes version like 1.3.0, "_" is not supported, so it is better to change "cni_network_config" to "cni-network-config"

I would like to propose a fix for above issue.

[2016-12-21 22:50] caseydavenport commented on #27
@renmaosheng thanks for raising.

1) Are you seeing trouble with this? The name of the file shouldn't affect anything AFAIK.  The calico/node container doesn't actually look at that file.  The contents are passed by the kubelet to the CNI plugin.

2) I'm not sure that this matters too much - the self-hosted installation is only supported on Kubernetes v1.4.0+ anyway (it won't work on v1.3.0 for ot

[2016-12-22 09:43] renmaosheng commented on #27
Hi Casey,  just realized it doesn't work with k8s 1.3.0, not sure what is the problem, but I have verified the basic functions of network policy works fine in v1.3.0.  I can switch to 1.4.0.

I remembered the I hit some issue about the file name, and changed it to fix. But that is long ago. let me retry it.

[2017-01-09 17:35] brad-peters opened #30 "Using calico-node v1.0.0 routes are not added"
I'm doing some simple evaluation of calico, flannel and canal.

I am using the following versions of everything:

etcd - 3.0.15  api version 2
flanneld - v0.6.2
calico-node - v1.0.0

I am using the CNI plugins script priv-net-run.sh to run two simple netcat tests one "nc -l 88" and another "nc <container_ip> 88" to ensure traffics gets between the containers.

When I setup flanneld and calico inde

[2017-01-09 18:47] caseydavenport commented on #30
This indicates to me that Felix is not aware of the containers on that host, and thus isn't programming the proxy_arp sysctl and routing table entires for each Calico WorkloadEndpoint.

I'd be interested in seeing the output of the following commands:

[code]

It might also be useful to take a look at the Felix logs to see if it is behaving properly.  Probably something like this:

[code]

[2017-01-09 19:30] brad-peters commented on #30
Here are the outputs of those commands:

[code]

I'm not using kubernetes, is there another way to get the felix logs?

[2017-01-10 11:27] galindro commented on #15
@caseydavenport

   The same problem is occurring with me. According to this: https://github.com/projectcalico/canal/tree/master/k8s-install#etcd, I should first deploy an etcd cluster, which is already deployed by kubernetes and is accessible through localhost (127.0.0.1):

[code]
[code]
[code]
[code]

[code]

[code]

[code]

[2017-01-10 20:47] ravishivt opened #31 "k8s nodePort Service can't be reached externally"
I have a 3x node kubernetes cluster: kube-ravi196 10.163.148.196 (master), kube-ravi197 10.163.148.197, and kube-ravi198 10.163.148.198. I have a pod that's currently scheduled on kube-ravi198 that I'd like to be exposed externally to the cluster. So I have a service of type nodePort with the nodePort set to 30080. I can successfully do curl localhost:30080 locally on each node. But externally, cu

[2017-01-10 21:50] caseydavenport commented on #30
Yep.  Depending on how you're running felix, it should either put the logs in `/var/log/calico` or output to stdout (e.g `docker logs`).

I'm assuming that <ip> in your nodes matches up with <ip> in the endpoints output?

[2017-01-11 12:04] brad-peters commented on #30
Thanks.  I found the logs but have a mix of v0.22.0 and v1.0.0 in there.  I will have to redo my tests to get a clean set of logs.

[2017-01-12 02:22] caseydavenport commented on #31
I'm assuming we've not hit this before because the default FORWARD behavior is usually ACCEPT, so the rule `sudo iptables -A FORWARD -o flannel.1 -j ACCEPT` isn't required.

@tomdee should flannel be configuring this rule when the default FORWARD behavior is not ACCEPT?

[2017-01-12 04:58] ravishivt commented on #31
FWIW, on a default Ubuntu 16.04 with ufw enabled, FORWARD is set to DROP.

[2017-01-19 04:21] braedon opened #32 "k8s self-hosted install doesn't install Flannel CNI plugin binary"
https://github.com/projectcalico/canal/blob/master/k8s-install/canal.yaml uses `calico/cni:v1.4.2` to install CNI, but this version doesn't include the Flannel CNI binary. Without the binary installed DNS can't start (and presumably networking doesn't work). Later versions of the image include the Flannel CNI binary.

[2017-01-19 06:03] caseydavenport commented on #32
Yep, this should just be a matter of updating the version of the calico/cni container we use and doing a bit of testing.

@heschlie can you add this to your plate?

[2017-01-20 00:59] #27 closed

[2017-01-26 09:28] smirgel opened #34 "Wrong tag or image in canal-etcdless.yaml"
Latest canal-etcdless.yaml (commit 1afff9f48832e5f85e99504dbd6b1cb211053036) points to a non-existing tag for the flannel-git image: "quay.io/coreos/flannel-git:v0.7.0".
I've checked against the quay.io registry and there is no such tag. However the flannel images has such a tag so I'm guessing that is what was intended? That is: "quay.io/coreos/flannel:v0.7.0"

[2017-01-26 16:30] caseydavenport commented on #34
Yes, that is what is intended.

@heschlie could you update the image?

[2017-01-26 16:43] heschlie commented on #34
@caseydavenport #35 is up for your review

[2017-01-26 16:49] #34 closed

[2017-01-26 16:49] caseydavenport commented on #34
Merged, should be fixed now!

[2017-01-27 07:43] smirgel commented on #34
Thanks!

[2017-01-30 17:15] heschlie commented on #32
Resolved in #33

[2017-01-30 17:15] #32 closed

[2017-02-12 07:37] faraazkhan opened #36 "canal network running out of ip addresses"
Hi,

So I decided to test canal out on our clusters this weekend and am running into a simple issue (that maybe a configuration error), but I could not figure it out. Hoping to get some help here.

Symptoms:

Multiple restarts of the canal pods running on nodes (the pods running on master seem fine):
[code]

Heapster and other multiple pods failing with error message like:
[code]
Two out of three

[2017-02-13 23:29] caseydavenport commented on #36
@faraazkhan thanks for raising.

Can you check to see which version of `calico/cni` you're using?  A similar bug was fixed in v1.5.6 as seen here: https://github.com/projectcalico/cni-plugin/releases/tag/v1.5.6

[2017-02-27 03:52] kfox1111 opened #38 "Canal local host routing issue"
I am using the following template:
https://raw.githubusercontent.com/projectcalico/canal/master/k8s-install/canal-etcdless.yaml

The cluster seems to work just fine except any contact from a pod running on host N without net=host can not access the host N by ip. Cross host contact seems to work fine though. Tested with multiple values of N.

For example, for pod prometheus:
/prometheus # ifconfig

[2017-02-28 18:24] caseydavenport commented on #38
@kfox1111 could you try adding this to the environment of the calico/node container?

[code]

By default, Felix prevents containers from talking to their own host.  This will change that behavior.

[2017-03-01 18:55] tmjd commented on #12
@sbezverk Is this still something that you need help with?

[2017-03-01 18:56] sbezverk commented on #12
The issue can be closed..

[2017-03-01 18:56] #12 closed

[2017-03-09 18:00] tmjd commented on #30
ping @brad-peters
Has this issue been resolved?  I understand that the more likely thing is that you haven't had time to redo your tests yet.
If it has been resolved, please feel free to close this issue.  Thanks.

[2017-03-09 18:05] brad-peters commented on #30
Sorry I didn't get a chance to get back to it and won't for a bit.  You can close this out if you want.  I can always reopen if do see it again.

[2017-03-09 18:10] #30 closed

[2017-03-12 06:54] rmenn opened #39 "bootkube : installation"
There seems to be an example for kubeadm, would be great if there was an example for bootkube

[2017-03-17 17:17] fasaxc opened #40 "Should document + set resource requests in our calico/node manifests"
A discussed in https://github.com/projectcalico/calico/issues/617, we should be setting resource requests in our manifests.  It makes a large difference to our latency on highly CPU constrained systems.

[2017-03-17 17:18] fasaxc commented on #40
Assigning to @tomdee for triage.  Since this seems to make such a dramatic difference, I think this should be a ship-stopper for Calico 2.2.

[2017-03-17 21:38] tomdee commented on #40
Yes, let's do it ASAP

[2017-03-20 17:59] tmjd commented on #31
@ravishivt have you done any more testing around this issue?  I'm just curious if there have been any updates that resolved the issue.
@tomdee, as Casey posed, should flannel being configuring that rule?

Is this really a flannel issue that needs to be created?  I found these 2 issues in the flannel repo:
- https://github.com/coreos/flannel/issues/603
- https://github.com/coreos/flannel/issues/613

[2017-03-20 20:56] tmjd commented on #36
@faraazkhan It has been over a month so I am going to close this issue for now, if you are already at v1.5.6 then please reopen this issue and we can figure out the next steps to investigate.

[2017-03-20 20:56] #36 closed

[2017-03-20 21:27] tmjd commented on #38
@kfox1111 it sounds like there is a solution to the issue you were having so I am going to close this issue for now.  If setting the above does not resolve this issue please feel free to reopen.

[2017-03-20 21:27] #38 closed

[2017-03-21 20:50] djosborne opened #42 ""canal diagram" on readme isn't displaying"

[2017-03-23 07:19] nilsher opened #45 "Document howto use ETCD with TLS"
Would be good  if you documented howto configure ETCD using SSL in canal.yml.

[2017-03-27 08:08] fasaxc commented on #40
@tomdee Why did you assign this back to me?  I'm not the right person to own a canal issue, I know next to nothing about it.

[2017-03-27 17:06] tomdee commented on #40
Because you tested CPU allocations for felix? But I guess Casey ended up making the change for Calico manifests, someone just needs to make the same change for the Canal manifests.

[2017-03-27 17:06] #42 closed

[2017-03-27 17:43] kfox1111 opened #48 "Sync <1.6 yaml with the 1.6 yaml"
The patch "Sync <1.6 yaml with the 1.6 yaml " broke the kolla-kubernetes gate. Reverting it fixed the issue. I think there may be an incompatibility with the canal containers and k8s 1.5?

[2017-03-27 17:53] djosborne commented on #48
@kfox1111 The images it was updated to use should be compatible with k8s 1.5. What behavior / logs are you seeing?

[2017-03-27 20:33] kfox1111 commented on #48
Console logs of a failed job:
http://logs.openstack.org/23/450423/1/check/gate-kolla-kubernetes-deploy-ubuntu-binary-2-ceph-nv/a425103/console.html

Individual pod logs and pod describes here:
http://logs.openstack.org/23/450423/1/check/gate-kolla-kubernetes-deploy-ubuntu-binary-2-ceph-nv/a425103/logs/pods/

[2017-03-28 00:27] tomdee commented on #48
@kfox1111 Could you describe what's actually going wrong. There are a lot of logs at those links but I have no idea what I'm looking for.

[2017-03-28 00:43] djosborne commented on #48
A quick look and I noticed `kubedns` pod wasn't coming up, which is a symptom of this issue: https://github.com/projectcalico/calicoctl/issues/1575

I've opened #49 to resolve it

[2017-03-28 16:03] djosborne commented on #48
@kfox1111 I've just merged 49, which adds the following environment variable to `calico/node`:
[code]
This should allow connections from the container to the host, e.g. Kube-DNS on Master speaking to the Api-server. I believe this is the issue you were hitting.

Please retry with the latest manifests and reopen if you are still having some issues.

[2017-03-28 16:03] #48 closed

[2017-03-29 14:04] nilsher commented on #45
I have kind of fixed this issue in pull request #53.

[2017-04-06 22:44] tomdee commented on #45
Fixed by the yaml in #53

[2017-04-06 22:44] #45 closed

[2017-04-06 22:47] tomdee commented on #11
Similarish to https://github.com/projectcalico/calico/issues/312

[2017-04-10 16:54] #22 closed

[2017-04-12 19:56] geekofalltrades commented on #11
I'm also being affected by this issue. We have certain workloads that we isolate to their own nodes, which we dynamically turn up and shut off as needed. So, our cluster has high node churn, and this is a big pain point.

I'm going to try my hand at writing a Kubernetes controller that listens for node deletions and issues the appropriate Calico deletions.

[2017-04-17 20:36] tmjd commented on #31
@ravishivt You have a solution that sounds like the solution suggested from the flannel project so I'm going to close this issue.  Please feel free to reopen if you think this is not the correct action or open a new issue if you have other issues.  Thanks.

[2017-04-17 20:36] #31 closed

[2017-04-19 20:37] tmjd opened #56 "Use only one version of calico/node"
In the manifests and a systemd unit file definition there are several versions of calico/node used.  I think they should all be the same.

[2017-04-19 20:53] #40 closed

[2017-04-19 21:00] tmjd opened #57 "Need to update label on master for 1.6"
The mentioned label on the master node is only true for 1.5, it is a different label in 1.6.
The mention is in this file: k8s-install/kubeadm/README.md

[2017-04-28 17:07] tomdee commented on #39
I agree! See also this issue from the bootkube side - https://github.com/kubernetes-incubator/bootkube/issues/407

[2017-04-28 22:38] #56 closed

[2017-04-28 22:38] #57 closed

[2017-04-28 23:30] heschlie opened #61 "OrchestrationIntegration.md could use updating"
With all the KDD changes and trimming of manifests it could use some updating to ensure we're pointing people to the KDD manifests not etcd.

[2017-04-29 19:54] v1k0d3n commented on #39
man, this would be awesome...we're in the same place as @rmenn, where we're trying to use bootkube. it's been pretty challenging for things outside of flannel. we're specifically targeting calico, but we'd really like to see any supported CNI as parameterized options in bootkube.

[2017-05-01 21:03] mellotron opened #64 "kube-flannel CrashLoopBackOff on bare-metal install"
Hello,

I've deployed Kubernetes 1.6.2 on a brand new metal node with kubeadm with:

$ sudo kubeadm init --pod-network-cidr 10.244.0.0/16

...and did the steps in this document:

- https://github.com/projectcalico/canal/tree/master/k8s-install

I then get:

kubectl -n kube-system logs po/canal-khsqt kube-flannel
E0501 20:55:21.603770       1 main.go:127] Failed to create SubnetManager: failed to r

[2017-05-01 22:33] sbezverk opened #65 "post location of current canal.yaml in the file"
Hello,

Our gating system downloads the latest version of canal.yaml automatically with each job. When you change the location of canal.yaml, it breaks our gate and we need to change the code to point to the new location. Would it be possible to to post new location in the special static file in your repo?  SO when you change canal.yaml location it gets automatically changed in that file as well.

[2017-05-01 23:40] sbezverk commented on #64
I see the same issue..

kubectl logs -n kube-system canal-xmj40 kube-flannel
E0501 23:38:45.468237       1 main.go:127] Failed to create SubnetManager: failed to read net conf: open /etc/kube-flannel/net-conf.json: no such file or directory

What information is expected to be in this file?

[2017-05-02 00:10] sbezverk commented on #64
It seems canal-config configmap is missing this section:

  net-conf.json: |
    {
      "Network": "10.57.128.0/19",
      "Backend": {
        "Type": "vxlan"
      }
    }
After adding it to the manifest canal is running properly.

[2017-05-02 00:17] caseydavenport commented on #64
@mellotron @sbezverk whoops! I think that section was accidentally removed as part of #62.

[2017-05-02 00:20] sbezverk commented on #64
@caseydavenport Any chance you gets fixed really soon ;)? I do not want to start hacking configmap to resolve it.

[2017-05-02 00:27] caseydavenport commented on #64
@sbezverk please see #66 and let me know if that fixes your problem!

[2017-05-02 00:30] sbezverk commented on #64
Yep, looks good.

[2017-05-02 01:19] sbezverk commented on #64
@caseydavenport any idea when this change gets merged?

[2017-05-02 01:52] djosborne commented on #65
@sbezverk sorry for the move. We are trying to deprecate the name "etcdless".

I agree that the file shouldn't move again unless it has some kind of deprecation phase to prevent problems like this. Hosting a description of the static link is an interesting idea, and I will consider it. I'm not sure what the solution we go with will be. There is an ever increasing number of manifests with subtle di

[2017-05-02 07:53] mellotron commented on #64
@caseydavenport I think you got the indentation off by a bit in 1.6. This puts net-conf.json in 10-calico.conf:

$ cat /etc/cni/net.d/10-calico.conf
{
    "name": "k8s-pod-network",
    "type": "calico",
    "log_level": "info",
    "datastore_type": "kubernetes",
    "hostname": "arosa",
    "ipam": {
        "type": "host-local",
        "subnet": "usePodCidr"
    },
    "policy": {
        "typ

[2017-05-02 08:16] mellotron commented on #64
If I manually place net-conf.json in /etc/cni/net.d/, the canal pod arrives at 3/3 READY, however kube-dns never moves from Pending to Running.

[2017-05-02 08:47] mellotron commented on #64
Within "describe nodes", I see:

runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized

[2017-05-02 09:18] mellotron commented on #64
The above seems related to https://github.com/kubernetes/kubernetes/issues/43815 , if I remove  KUBELET_NETWORK_ARGS, the node becomes ready, however I wasn't having this issue with flannel so something must be broken in the canal CNI deployment?

[2017-05-02 21:44] caseydavenport commented on #64
@mellotron thanks for pointing out the indentation - I've updated the PR with a fix.

The `net-conf.json` file should go in `/etc/kube-flannel/` inside the flannel container.

The missing network config should have been installed by the [`install-cni` container](https://github.com/caseydavenport/canal/blob/44e0ab1a29c79960a9831916c8bc851b69e22c00/k8s-install/1.6/canal.yaml#L132).

Do you see the c

[2017-05-02 21:57] #64 closed

[2017-05-03 03:22] ozdanborne opened #67 "Kubernetes manifests should use nodename instead of hostname"
Canal application of https://github.com/projectcalico/calico/issues/743

[2017-05-03 09:55] mellotron opened #68 "Second node using docker0 instead of canal"
I've set up a new Kubernetes cluster with kubeadm on two bare-metal nodes.

The LAN that they sit on is 192.168.1.x/24.

I initialized the first node with:

[code]

And set up Canal with the steps on:

- https://github.com/projectcalico/canal/tree/master/k8s-install

And joined node2 to the cluster with kubeadm

However, when I join the second node, and schedule pods on it, it's using the docker0

[2017-05-03 10:01] mellotron commented on #68
Attempted removing docker0 and redeploying something on docker0, got:

Error syncing pod, skipping: failed to "CreatePodSandbox" for "monitoring-influxdb-3480804314-msh2t_kube-system(4e2d8a46-2fe7-11e7-882e-00232478ac64)" with CreatePodSandboxError: "CreatePodSandbox for pod \"monitoring-influxdb-3480804314-msh2t_kube-system(4e2d8a46-2fe7-11e7-882e-00232478ac64)\" failed: rpc error: code = 2 desc

[2017-05-03 18:21] caseydavenport commented on #68
@mellotron can you verify in the logs that the Pod `monitoring-influxdb-3480804314-msh2t` was launched using the Calico CNI plugin?

It is probably worth verifying that the kubelet on node2 is configured with `--network-plugin=cni` and not `--network-plugin=kubenet`.

The Calico plugin should be used, and it should never try to connect a container to _any_ bridge, so that's suspicious to me.  Soun

[2017-05-04 22:27] tomdee opened #69 "rbac.yaml file should be calico + flannel (not canal + flannel)"
https://github.com/projectcalico/canal/blob/master/k8s-install/1.6/rbac.yaml

It's useful for it to be just the combination of the Calico and flannel rbac files (to ease maintenance) but the canal name is wrong for the Calico part.

[2017-05-05 22:32] xeor opened #70 "advanced-policy won't work"
I have an on-premise test cluster using the newest versions of kubernetes, canal to-date.
Doing default kubernetes `NetworkPolicy` works, but using `calicoctl` and trying to add more advanced rules does not.

Everything works as expected as I see it, but calico is weird.
  * It does not add any profiles (`calicoctl get profile`), at all..
    * Nor do I see any under `etcdctl ls /calico/v1/policy

[2017-05-05 23:29] caseydavenport commented on #70
Hey @xeor - if you're using [this manifest](https://github.com/projectcalico/canal/tree/master/k8s-install) (kubernetes datastore driver) then the advanced policy features of Calico aren't yet available, but will be in a future release of Calico.

If you'd like to use the advanced policy features, you'll need to use the etcd datastore driver version of canal, which supports the full set of Calico

[2017-05-06 19:18] xeor commented on #70
thanks for the reply @caseydavenport! Should it say a line or two about that in the docs?
I'm on the experimenting fase of kubernetes, so I'll probably wait till canal supports it out of the box.
Do you have any idea how high on the priority-list that feature is? I can't find any issue tracking that..

[2017-05-07 19:34] camilocot opened #71 "Migrate from etcd datastore to Kubernetes API"
Some months ago, I set up canal in Kubernetes 1.4 using etcd datastore. I'd like to upgrade kubernetes to v1.5 and start using kubernetes API as a backend in canal. Is there any guide to migrate our current configuration from etcd to Kubernetes API ?

This manifest was used to deploy canal: https://github.com/projectcalico/canal/blob/3d0918025c522b40674f0e26579802dddc3d6326/k8s-install/kubeadm/can

[2017-05-08 15:02] tmjd commented on #71
There is no migration path from etcd backend to the K8s backend currently.  There are several features in Calico that are not possible with the K8s backend that are possible with the etcd backend so it would not be an option in all scenarios.  Perhaps when the K8s backend fully supports all Calico features a conversion process might be created.

Is there a reason, besides just removing the etcd de

[2017-05-08 19:02] mellotron commented on #68
This was my fault, I removed KUBELET_NETWORK_ARGS for another bug and kubeadm reset doesn't remove the systemd kubelet files back to what they were. Sorry about that.

[2017-05-08 19:02] #68 closed

[2017-05-08 20:30] camilocot commented on #71
Not really, but canal readme file recommends using the Kubernetes API manifests so I wanted to plan the migration if necessary. Thanks.

[2017-05-08 20:30] #71 closed

[2017-05-12 22:00] maikzumstrull opened #74 "Needs to clear NodeNetworkUnavailable flag on Kubernetes 1.6"
## Expected Behavior

Kubernetes 1.6 has this lovely piece of code: https://github.com/kubernetes/kubernetes/blob/release-1.6/pkg/kubelet/kubelet_node_status.go#L214

This marks any new node as restricted to pods with host networking. The assumption is that the cluster networking implementation will clear this bit when the network setup is complete.

The only implementation that does that is kuben

[2017-05-18 14:04] ltgzs777 opened #75 "In canal.yaml file no etcd_endpoints: "....." ?!"
In canal.yaml file：
[code]
here is no etcd_endpoints: "....."  ?!

[2017-05-18 16:18] tmjd commented on #75
The canal manifests have been switched over to use kubernetes as the datastore,  that means there is no longer the dependency on etcd and the explanation for the absence of etcd_endpoints.

Is there a problem you are having with the manifest?

[2017-05-19 01:05] ltgzs777 commented on #75
Oh.I see! This time only see again.I use the old one，want toreplace it，so see yours. Thanks！

[2017-05-19 02:15] #75 closed

[2017-05-23 19:19] RichWellum opened #77 "Kubernetes master node is 'untainted' when applying Canal CNI"
## Expected Behavior

I'm running kubernetes on a Centos 7.x VM, the purpose is to create an AIO to run kolla OpenStack images on. Typically, after I apply the canal.yaml CNI, I then have to mark the master node as scheduleable by 'untainting' the node. This allows you to use kubernetes as an AIO - creating OpenStack services on the one node. The command is:
kubectl taint nodes --all=true  node-ro

[2017-06-04 12:55] v1k0d3n commented on #39
guys, we haven't revisited this in a while...but i have been working on a side repo to bootkube which basically shows how this would/could be done. the repo is to CI a bootkube provided cluster, plus any number of post installation actions (the repo is just starting), i could write the document the procedures if folks are interested. @gunjan5 and @kprabhak may be interested in this. it includes ca

[2017-06-04 20:40] floriankammermann opened #78 "NetworkPolicy doesn't block traffic"
## Expected Behavior
NetworkPolicy blocks traffic according to the documentation of kubernetes https://kubernetes.io/docs/concepts/services-networking/networkpolicies/

## Current Behavior
The network traffic is not blocked.

## Steps to Reproduce (for bugs)
The reproducer is in this repo https://github.com/floriankammermann/kubernetes-networkpolicy

## Context
I have to isolate pods from each oth

[2017-06-05 18:56] tmjd commented on #78
Thanks for the awesome issue submission.  This is one of the nicest and complete I've seen. :+1:
I created https://github.com/floriankammermann/kubernetes-networkpolicy/pull/1 with what fixes the NetworkPolicy.  I can't totally explain things because it seems like the solution is a NetworkPolicy that does not match the structure laid out https://kubernetes.io/docs/api-reference/extensions/v1beta1/

[2017-06-06 15:54] floriankammermann commented on #78
Thanks just tested the pull request https://github.com/floriankammermann/kubernetes-networkpolicy/pull/1/commits/b65a781a6bc11ed2926ed66c38722cc2749c2128 and it works now, thanks alot

[2017-06-06 15:54] #78 closed

[2017-06-28 21:56] ejether commented on #11
@geekofalltrades  have you had any success on your controller?

[2017-06-28 23:07] geekofalltrades commented on #11
I actually have been working on it the last couple days.

The approach I'm going for is not a controller, but a component using libcalico-go with a simple REST API that has one DELETE endpoint for nodes. The component in our infrastructure that turns nodes on and off dynamically will make calls to it every time it decommissions a node.

We're running Kubernetes 1.6.0, and I don't see that this ver

[2017-06-29 15:30] ejether commented on #11
Good find! If there is some code in there you're willing or able to share please do so. Its a problem we're interested in solving and I'll contribute

[2017-06-29 15:38] tmjd commented on #11
@geekofalltrades You may want to check on the version of etcd that you are using.  This issue https://github.com/projectcalico/calico/issues/753 was found because we were using a version of etcd less than 3.0.12 that did not generate Delete events in K8s.  Though this would only be if your k8s is not specifying a storage backend of etcdv2 (the default is to use etcdv3 for k8s).

[2017-06-29 16:45] geekofalltrades commented on #11
Yes, indeed:
[code]

Lots of tasty events for Nodes in the `default` Namespace.

That `RemovedNode` event is what I want... now I need to experiment to make sure that it's only emitted when nodes are deleted, and not also when they just go missing temporarily.

[2017-06-29 16:51] tmjd commented on #70
I've got the PR #79 up to add some notes to the canal docs about this.

There are a couple issues tracking the needed features:
- https://github.com/projectcalico/calico/issues/458
- https://github.com/projectcalico/calico/issues/355

I'm going to close this issue since it is expected and there are other issues tracking it in the Calico repo.

[2017-06-29 16:51] #70 closed

[2017-06-29 17:59] caseydavenport commented on #11
@geekofalltrades you can also watch nodes themselves, rather than events.

e.g.

[code]

That should generate `watch.Event` structs for you.  We do this here: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/syncer.go#L98

[2017-07-04 17:27] maikotz opened #80 "Canal policy for hostnetwork=true pods?"
Not sure if this is the right place to post this, but I'm facing a problem with kubernetes 16 when I try to access pods from the nginx-ingress-controller pod which is running with hostNetwork=true.

Is there a way to still restrict traffic to a pod / endpoint but allow the host network pods to connect?

I tried using namespace selectors but AFAIK hostNetworking=true means the pod is using the netw

[2017-07-05 15:56] tmjd commented on #80
You could create policy that allows traffic from your host's to the pods you want your ingress controller to be able to connect to.  You could do this either through allowing the CIDR that your hosts are in (though might let in other host traffic that you want to block) or create a host endpoint for each host (you could just do the hosts running nginx-ingress-controllers) and assign a label to tho

[2017-07-05 18:24] maikotz commented on #80
Thanks for your reply @tmjd

I tried labeling the existing endpoints for the pods and use a namespace / podSelector but this didn't work either.

[code]

The nginx pods have a label: `name: nginx-ingress-lb`.

Still the connections is timing out from the nginx controllers.

I tried creating the endpoints in the namespace and use the NetworkPolicy without the Namespaceselector, as well but without

[2017-07-05 20:00] tmjd commented on #80
Sorry I should have provided some links to help.
See http://docs.projectcalico.org/v2.3/reference/calicoctl/resources/hostendpoint and http://docs.projectcalico.org/v2.3/getting-started/bare-metal/bare-metal#creating-host-endpoint-objects.
Keep in mind that the 2nd link is setting up host endpoints to protect the host which is not necessary for what you are trying to achieve.

Here is an example t

[2017-07-06 10:02] gree-gorey opened #81 "kube-dns never in ready state with etcd-tls (always 2/3, 1/3)"
When create canal with `canal_etcd_tls.yaml` kube-dns pod never reaches ready state, only 2/3 or 1/3.
When deploying canal without tls, everything works fine.
We have 2-node etcd cluster running outside of kube.

kubelet version: 1.6.6
docker version: 1.12

`kubectl logs kube-dns-692378583-xdxkh kubedns -n kube-system` output:

[code]

`kubectl logs kube-dns-692378583-xdxkh dnsmasq -n kube-system`

[2017-07-06 10:30] mastanggt commented on #81
+1
We have the same problem.

[2017-07-06 15:51] caseydavenport commented on #11
FYI I've hacked up a (very prototype) node controller for Calico here: https://github.com/caseydavenport/calico-node-controller

[2017-07-06 17:55] caseydavenport commented on #81
Hm, so this line indicates that the DNS pod is failing to reach the apiserver:

[code]

This could be due to a number of things, but most likely culprits:
- kube-proxy is not running / healthy
- flannel is not running / healthy / configured properly
- the Calico CNI plugin is not configured properly, or Calico policy is preventing the traffic.

Can you check if:
- pod->pod traffic works (not throu

[2017-07-07 09:15] gree-gorey commented on #81
The problem was with misconfiguration of etcd tls certificates.

But when we configured them properly, canal-configure job starts failing -- it could not connect to etcd cluster.
Then we change this block from [canal_etcd_tls.yaml](https://github.com/projectcalico/canal/blob/master/k8s-install/canal_etcd_tls.yaml#L313)
[code]

to this:
[code]

and after that everything starts working.
btw, was it

[2017-07-07 17:38] caseydavenport commented on #81
@gree-gorey those changes look right to me - glad that got it working!

Would you be open to submitting a PR to upstream those changes?

[2017-07-08 07:05] gree-gorey commented on #81
@caseydavenport yeah, sure. Submitted PR.

[2017-07-10 16:23] caseydavenport commented on #81
Thanks! Fixed in #82

[2017-07-10 16:23] #81 closed

[2017-07-11 18:49] tomdee opened #83 "Out of date info in the readme"
This says Q2

https://github.com/projectcalico/canal#calico-linux-routing-inside-a-az-and-ipip-encap-cross-az-q2-2017

[2017-07-12 07:50] moonek opened #85 "Remote node flannel failed to operate"
## Expected Behavior
Successful canal pod

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. coreos + k8s cluster install
2. kubelet configuration (--cni-conf-dir=/etc/cni/net.d  --cni-bin-dir=/opt/cni/bin  --network-plugin=cni )
3. controller manager configuration (--cluster-cidr=10.244.0.0/16 --allocate-node-cidrs=true)
4. wget https://raw.githubusercontent.com/projectcalico/canal/

[2017-07-23 05:52] prasenforu opened #86 "Canal on OpenShift"
I found some ppt which tells that I can use canal on OpenShift.

Can you please share instructions for canal deployment on OpenShift.

[2017-07-23 06:04] prasenforu opened #87 "Network policy ingress from external ip"
Environment:
Kubernetes 1.7 using kubeadm
CNI: Canal

In network policy we define ingress from pod
But I want from external ip.

Not sure How I can implement?

[2017-07-24 17:49] kprabhak commented on #86
@prasenforu Are you referring to the slides from the OpenShift Commons briefing from March? If so, the slide there refers to Canal with Flannel+Kubernetes.

Adapting to the Flannel as deployed with openshift would likely require some additional steps, but I reckon it might be possible. Something along the lines of:
1. Deploying openshift with flannel (say, using openshift-ansible)
2. Deploying can

[2017-07-24 18:38] tmjd commented on #87
One of the first questions we need to answer is, are you using an etcd backed Calico or is it using Kubernetes API as the datastore?
Using the Kubernetes API as the datastore is relatively new and does not yet support this but we're working on adding full Calico policy model support.  If you are using etcd as the backend then it might be possible depending on what you are specifically trying to do

[2017-07-25 00:13] prasenforu commented on #87
I think I have done kubernetes normal installation using kubeadm, not an etcd backed Calico.

[2017-07-25 00:39] prasenforu commented on #86
Can  not recall right now but I can remember in that slide mr. Bean picture was there. :)

[2017-07-25 05:09] treacher commented on #77
I'm also seeing this, it seems to be an issue with Calico. I don't have this issue when just running flannel on it's own.

[2017-07-25 12:58] RichWellum commented on #77
Thanks for replying and pointing out the flannel fix. Hoping someone will look at this!

[2017-07-25 13:40] tmjd commented on #87
If you can provide a link to the Calico manifest you used I can tell if you are using etcd or not.  Another way you can check is to do `kubectl get pods --all-namespaces` and you have a 'calico-policy-controller' pod then you are using etcd for your datastore.

[2017-07-25 13:54] prasenforu commented on #87
https://github.com/prasenforu/container-platform/blob/master/kube/Networking/canal.yml

[2017-07-25 13:58] prasenforu commented on #86
Found the link https://blog.openshift.com/wp-content/uploads/Fluentd_-Cloud-Native-Logging.pdf

[2017-07-25 14:05] tmjd commented on #87
Yes that manifest is using the Kubernetes API as the datastore so the feature you are looking for is not supported in that configuration yet, but as I said there is on going work to add the full Calico policy model.
Here is the main issue tracking that work https://github.com/projectcalico/calico/issues/458

[2017-07-25 14:08] prasenforu commented on #87
OK thanks 👍

[2017-07-25 14:37] prasenforu commented on #87
Just quick question if I use etcd backed calico which is called ```kubeadm hosted install ``` then we are running two etcd.

How inter communication works?
And what is the difference with datastore api ?
What impact in cluster environment?

[2017-07-25 14:53] tmjd commented on #87
It is not necessary to run two etcd if using etcd backed calico.  You can use the same etcd with kubernetes, flannel, and calico.  They will work side-by-side.

I am not sure which components you are asking about here can you provide more detail on what you are curious about?

See this page for the Calico limitations currently when using the Kubernetes API for the datastore.  http://docs.projectca

[2017-07-25 16:08] prasenforu commented on #87
But as per yml it look like etcd runs as daemon set, that mean number of node equal to number of  etcd ?
Any specific reasons for that?

[2017-07-25 16:20] caseydavenport commented on #77
Thank for raising - I think this might be a bug in the Calico kubernetes datastore driver.

@heschlie could you try to repro and determine where the problem is?

[2017-07-25 16:24] heschlie commented on #77
Taking a look

[2017-07-25 16:29] tmjd commented on #87
Are you referring to this http://docs.projectcalico.org/v2.3/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml manifest?
The etcd DaemonSet in there has a nodeSelector that makes it only run on the master node.

[2017-07-25 16:36] prasenforu commented on #87
Yes.

OK.. Thanks for clarification.

[2017-07-25 20:48] heschlie commented on #77
This looks to be fixed by updating calico/node from v1.2.1 to v1.3.0, I'll need to dig further in to see as to what changed that seemed to resolve this so we can ensure it doesn't break again.

I'll open a PR to update the manifests to the latest versions of Calico, in the mean time can you update your manifest locally and verify it fixes it for you as well?  You'll probably want to update calico/

[2017-07-26 00:18] caseydavenport commented on #77
Going to close this for now, but please shout if upgrading to the latest manifests does not fix this issue.  Thanks!

[2017-07-26 00:18] #77 closed

[2017-07-26 02:37] RichWellum commented on #77
I think I am already using these versions as I download from canal/master:

$ curl -O https://raw.githubusercontent.com/projectcalico/canal/master/k8s-install/1.6/canal.yaml
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  6474  100  6474    0     0  19755      0 --:--:-- --:--:-- --:-

[2017-07-26 03:26] heschlie commented on #77
@RichWellum I merged #88 a few hours ago, so you're now getting the newer versions.

[2017-07-26 12:38] RichWellum commented on #77
@heschlie - many thanks for the speedy work. By the way, I had this issue open for a while, for my education, is there anything I should have done to raise attention to it?

[2017-07-26 14:57] tmjd opened #89 "Add some docs about issue submission and expected process"
It would be nice to add some documentation about the expected issue submission process and what a submitter should expect.

## Expected Behavior
There is documentation (or links to projectcalico documentation) about the issue submission process and a general expectation of the process.

## Current Behavior
I didn't find any such documentation.

## Possible Solution
Some notes in the readme or link

[2017-07-26 14:58] tmjd commented on #77
@RichWellum I think you did the right thing.  We simply missed this issue I believe.
Always feel free to "bump" an issue if it isn't getting the action you think it should or come bug us in calicousers.slack.com.  Actually this may be a gap in our documentation, we could include some notes about submitting issues and the expected process.  I just added #89 to address that.

[2017-07-26 16:37] RichWellum commented on #77
Thank you very much. I should have thought about the slack channel - too used to OpenStack and IRC... :)

[2017-07-26 22:18] ozdanborne commented on #86
It is technically possible to deploy canal in openshift, but you will have to do so manually. Unfortunately we do not have any other information available at this time.

[2017-07-27 00:22] prasenforu commented on #86
I am ready to do manually, can you provide some steps please.

[2017-07-31 16:15] tmjd commented on #87
I don't believe there is anything left to do on this issue so I'm going to close it.  @prasenforu if you believe this should be reopened please let me know and what is left to do to answer the issue.

[2017-07-31 16:15] #87 closed

[2017-07-31 19:06] tmjd commented on #80
I'm going to close this issue since there has been no response for a while.  If this issue is still a problem @maikotz please respond with the current issue or what needs clarification and we can reopen the issue and address it.

[2017-07-31 19:06] #80 closed

[2017-07-31 20:13] tmjd commented on #85
I'm guessing that 10.3.0.1 is the service address for the kubernetes service and kube-proxy should be setting up iptables rules that will do DNAT when something is sent to the 10.3.0.1 IP address and change the packet destination address to 172.17.8.101.  You can check that is true by checking `kubectl get services --all-namespaces`.

You should check that from a worker that you are able to `curl

[2017-08-03 22:20] caseydavenport commented on #89
This isn't just a canal issue, but for the projectcalico/* org in its entirety.

[2017-08-03 22:24] caseydavenport commented on #74
IIUC, this doesn't affect canal because it uses CNI and network readiness is determined by the presence of a CNI config file on disk.

The CNI driver in the kubelet will clear this flag for us.

[2017-08-03 22:26] #65 closed

[2017-08-03 22:27] caseydavenport commented on #61
This is done.

[2017-08-03 22:27] #61 closed

[2017-08-03 22:32] maikzumstrull commented on #74
That is incorrect. There are two different readiness bits. Kubelet will set NodeReady=true when it finds a valid-looking CNI config. However, on an affected cloud provider (i.e. GCE), Kubelet will *not* clear the NetworkUnavailable bit for you.

In 1.7, the relevant snippet is https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/kubelet/kubelet_node_status.go#L231-L240.

[2017-08-04 05:10] caseydavenport commented on #74
Ah, you're right.  I hadn't spotted that - reopening.

[2017-08-09 09:51] FaKod opened #95 "canal_etcd_tls.yaml doesnt work with K8s 1.7.x and RBAC enabled"
## Expected Behavior
I tried to use Canal with tls secured etcd and RBAC enabled using canal_etcd_tls.yaml

I expected a working demo at http://docs.projectcalico.org/v2.4/getting-started/kubernetes/tutorials/simple-policy

## Current Behavior
Networking didn't work at all and calico-policy-controller throws the following exception:

[code]

## Possible Solution
More permissions (if that's the iss

[2017-08-09 18:11] caseydavenport commented on #95
Sounds like it might be a problem with RBAC, but off the top of my head I wouldn't have expected anything to have changed.

Is this a v1.6 vs v1.7 issue? i.e. does the same manifest work on 1.6?

[2017-08-09 18:23] tmjd commented on #95
I don't think this manifest was updated for K8s 1.6 (or RBAC).  It still contains the tolerations for K8s 1.5:
[code]

[2017-08-09 18:29] #67 closed

[2017-08-09 19:40] #69 closed

[2017-08-15 04:30] prasenforu commented on #87
@tmjd

I came  out some used case where this intial discussion fall.

Let me explain little briefly.

We running multiple pod inside kubernetes platform. Take examples APP-1, APP-2 APP-3.

Now my multiple databases (DB-1, DB-2, DB-3) running outside kubernetes cluser. In front of all database there was firewall.

Now App-1only can connect DB-1 no other container should connect DB-1 similarly App-2

[2017-08-15 15:10] tmjd commented on #87
I think this question would have been better as a new question because I do not think it is related to the original question.
There are several methods to do what you are asking I believe though it depends on what you can do in your setup and what you specifically need.

- If you are only concerned about limiting the traffic from pods, it is possible to write policy that applies to all pods *excep

[2017-08-15 15:28] prasenforu commented on #87
I think 1st option is standard and that I already I did and its in only single network (kubernetes).

Option 3rd little challenge regarding scalability point & host network & port use. Because you can run only one per node as port already used in host 2nd same type of port use another same type of application then its an issues.

Also need to understand in details for 2nd option.

I am raising new

[2017-08-15 15:35] prasenforu opened #97 "Calico network & on premises network fabric"
Communication between calico network & Datacenter  network with firewall.

I came out some used case where this discussion fall.

Let me explain little briefly.

We running multiple pod inside kubernetes platform. Take examples APP-1, APP-2 APP-3.

Now my multiple databases (DB-1, DB-2, DB-3) running outside kubernetes cluser. In front of all database there was firewall.

Now App-1only can connect

[2017-08-15 16:16] tmjd commented on #97
I'm copying some of my answer from your question under the other issue https://github.com/projectcalico/canal/issues/87.  When I answered there I did not realize the repo this was in and answered thinking this was an all Calico setup (calico for networking too).

- If you are only concerned about limiting the traffic from pods, it is possible to write policy that applies to all pods except certain

[2017-08-17 23:50] Blfrg commented on #85
I have been experiencing a similar issue, though some differences in my setup are k8s 1.7.x with RBAC.

What resolved the issue for me was adding to the `kube-apiserver` the flag:
`--advertise-address=172.17.8.101`

_Note: `k8s_api_root` still resolved to the `10.x.x.x` address, but flannel and calico both were able to communicate with the master node._

Hope that helps!

[2017-08-18 09:51] prasenforu commented on #97
If I use host networking on the APP pods, then DB firewalls allow traffic from all the K8s hosts.

Not sure how traffic will be restricted by port. because we can not control the source port number when APP pods will exit from K8s hosts.

[2017-08-18 14:45] tmjd commented on #85
@Blfrg Thanks for reporting your solution.

[2017-08-18 17:53] tmjd commented on #97
You're right, I was wrong with my Host networking comments.

Though you can use use a node selector to specify which node(s) will be app will be started on, then you could limit the hosts traffic would be coming from.

[2017-08-18 18:04] prasenforu commented on #97
If I allow that host then in that host if 50 pods running then all pods allow to connect db server.  Because you set a rule in firewall allow that host (ip).
So again it not full fill my requirement.

[2017-08-18 18:15] tmjd commented on #97
Those pods would not be allowed to connect if you wrote policy that denied that traffic, unless you are running pods with host networking.  That is what my 1st bullet point was about.

I know you are using canal but could you switch to Calico for networking (instead of flannel) and then peer with your network fabric and then the traffic from the pods could be routed directly without being NAT'ed.

[2017-08-18 18:16] tmjd commented on #97
@gunjan5 Do you know if there are any features with flannel that would allow what @prasenforu is trying to do?

[2017-08-19 00:45] prasenforu commented on #97
OK, I will try with calico but please give me policy example in details also setup procedure in latest kubernetes using kubeadm.

Also need to understand how to peer with my network fabric and is there any challenges.

[2017-08-20 04:16] dreyk opened #98 "Traffic from GCE LoadBalancer blocked by iptables filter"
I have kubernets cluster on google cluster. One master and one minion. Kubeadm was used to create cluster. Canal(flannel) is used as cni provider. One KubeService was deployed with type LoadBalancer.
Google randomly distributed traffic to master and minion, but master don't accept requests.

nat iptables from master node:

-A KUBE-FW-MX7ZTTA3CLR5PD5H -m comment --comment "jenkins/jenkins-jenkins:h

[2017-08-22 14:57] tmjd commented on #97
Here are the docs for installing Calico on a K8s cluster created with kubeadm https://docs.projectcalico.org/v2.4/getting-started/kubernetes/installation/hosted/kubeadm/

Please review the tutorials on the Calico docs for help with creating the policies:
* https://docs.projectcalico.org/v2.4/getting-started/kubernetes/tutorials/simple-policy
* https://docs.projectcalico.org/v2.4/getting-started/ku

[2017-08-22 15:15] prasenforu commented on #97
Today I am able setup Calico with kubeadm.

But facing issue to put proper policy.

I have 3 pod in test namespace.

1 mysql db pod
2 php-app1 pod which will connect external db and internal mysql pod also.
3 php-app2 pod which will connect external db and internal mysql pod also.

Looking for such policy which will do as follows,

All php-app pods should connect internal mysql pod.
But
Only php-a

[2017-08-22 15:23] tmjd commented on #98
This might be a symptom of a change in docker.  What version of docker are you running?

See https://github.com/coreos/flannel/issues/603 and https://github.com/moby/moby/pull/28257 for background on why I'm asking.

[2017-08-22 17:10] prasenforu commented on #97
If I follow guideline in advance-policy ```Prevent outgoing connections from pods```
Rule 400 & 500

Then problem internal communication with other pod.

Quick questions is that internal communications allways dns or ip ?

I am using ip but not able to communicate with db pod

[2017-09-06 09:05] ktsakalozos opened #100 "Repeating INFO logs on calico-policy-controller after resource deletion"
## Expected Behavior
After a resource is deleted the controller should stop trying to delete it.

## Current Behavior
After deleting a namespace or network policy the calico-policy-controller keeps repeating every 10 seconds its last action:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)
1. Deploy Canal. We used Juju so the deployment was `juju deploy cs:~containers/canonical-kuber

[2017-09-06 20:50] caseydavenport commented on #100
@ktsakalozos hmm, that is odd. I haven't seen that before.

AFAIK that should only happen when new updates are received from the k8s API.

Could you try reproducing with DEBUG logging enabled? That might give more clues as to what's going on.

[2017-09-11 23:22] ceridwen opened #101 "Mention Minikube and podCIDR in the documentation"
## Expected Behavior

At the moment, when you try to install Canal on Minikube using the directions in the [self-hosted install](https://github.com/projectcalico/canal/blob/master/k8s-install/README.md), the kube-flannel container will fail to come up with messages in the logs about missing podCIDR.  Minikube doesn't have a flag to set podCIDR like some other ways to install Kubernetes.  I had to

[2017-09-11 23:39] caseydavenport commented on #101
@ceridwen have you tried just running Calico (without flannel) on minikube?

Flannel is really just for cross-host networking so shouldn't be required for a minikube deployment.  This will remove the need to set the `podCIDR` on the node.

I know @tmjd recently had Calico working on minikube for network policy.

[2017-09-12 14:46] tmjd commented on #101
I think the same arguments might help in this situation as I found were useful when I was working with minikube & calico.

@ceridwen You are probably already aware of  https://github.com/projectcalico/calico/issues/1013#issuecomment-325689943 but I'm putting it here for others that may come across this issue.

We currently don't have any docs in the Canal repo about using it with any integrations

[2017-09-12 18:53] ceridwen commented on #101
@caseydavenport, I have tried to get Calico working.  After posting this yesterday, someone posted to my issue on Calico proper to say that podCIDR was probably the problem there too.  Patching with kubectl to add podCIDR does get further there, too, though the Python Kubernetes client is having problems with websockets on both Calico and Canal.  I don't know if that's a problem with the Python cl

[2017-09-14 17:22] #97 closed

[2017-09-15 17:39] caseydavenport commented on #95
@FaKod did you ever find a fix for this?

If so would you be open to contributing it upstream?

[2017-09-18 04:44] FaKod commented on #95
No, sorry, I switched to the API Server "version" and K8s 1.7.x. That works fine for me.

[2017-09-18 18:05] tmjd commented on #85
@moonek have you been able to try @Blfrg's solution or found another solution for your issue?

[2017-09-18 20:29] caseydavenport opened #102 "Include portmap plugin + chaining config for hostport support in k8s"
## Expected Behavior

Should support host ports in k8s

## Current Behavior

does not support it

## Possible Solution

Needs to include and chain the portmap plugin

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version:
* Flannel version:
* Orchestrator version:
* Operating System and version:
* Link to your project (optional):

[2017-09-19 05:01] mingfang commented on #11
I just got him by this and I think this is a critical problem.

[2017-09-29 17:45] #102 closed

[2017-10-02 17:59] tmjd commented on #98
I think the solution you have found is good.  You can checkout this PR https://github.com/kubernetes/kubernetes/pull/52569 (that I submitted) which is attempting to address this.  If you wanted to try with my potential solution and report back that would be great.  Adding the following (assuming you have the clusterCIDR set) should be the equivalent of what that PR would do.
[code]

I'm going to c

[2017-10-02 17:59] #98 closed

[2017-10-05 15:22] mattymo opened #107 "Canal on GCE using CoreOS does not work"
## Expected Behavior

Pods should be able to ping each other
## Current Behavior

All services report healthy, but flannel container in canal pod shows the following type of error:

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create CoreOS instances in GCE
2. Set up an ansible inventory such as this:
[code]
3. Run ansible with -e kube_network_plugin=canal
4. Try to ping pod IPs from

[2017-10-16 23:21] awslovato opened #108 "Canal Pods no longer starting after upgrading from Kubernetes 1.7.x to 1.8.x"
After upgrading my cluster my canal pods are failing with Status CrashLoopBackOff on master and all nodes. It could be due to incompatibility introduced in 1.8.

## Expected Behavior

If there is no reason for this to happen all canal pods should be starting and be in Ready state on all nodes and master.

## Steps to Reproduce (for bugs)

1. cordon host to upgrade node to Kubernetes 1.8
2. reboot

[2017-10-16 23:38] caseydavenport commented on #108
Yep, this is expected when running older versions of Canal against kubernetes 1.8

k8s 1.8 removed support for TPRs, which earlier versions of canal relied on. Instead, CRDs are used. You'll need to follow the migration steps provided here to upgrade to the latest canal (it says v1.7, but it's actually v1.7+) https://github.com/projectcalico/canal/tree/master/k8s-install#for-kubernetes-17

As part

[2017-10-19 21:01] heschlie commented on #100
Was able to replicate this in Calico v2.5.1 with calico/kube-policy-controller v0.7.0, but it appears to not be present in the new calico/kube-controllers v1.0.0 in Calico v2.6.2.

Still doing a bit of digging to see why this is happening in v2.5.1.

[2017-10-19 21:10] heschlie commented on #100
With debug turned on, this is the section that repeats endlessly:

[code]
We appear to always restart from resource version 398, not sure if we should be moving past it somewhere and we aren't, would need to dig in further. Not sure if this issue exists in any of the older policy controllers yet.

[2017-10-19 23:28] heschlie commented on #100
Also seeing similar repeat logs for pods and namespaces in the policy controller.

[2017-10-23 16:16] caseydavenport commented on #108
@awslovato did you get a chance to try to upgrade steps listed?

[2017-10-25 21:36] awslovato commented on #108
@caseydavenport I did.  The pods created in step 4 to do the upgrade are looking for the data that is supposed to be created in steps 1 -3. I did not have any data there and the logs on the pods show that it's expecting something and crash loop till they hit the limit for instances.  Step 4.2 (which maps to step 5 in the top list?) states:
4.2. Now you can upgrade the calico/node and calico/cni im

[2017-10-26 15:56] heschlie commented on #100
@ktsakalozos Would you be able to update your Calico related versions in the Canal manifest to the [Calico v2.6.2](https://docs.projectcalico.org/v2.6/releases/) versions? It definitely solves this problem, we are going to patch in a fix to v2.5.x but I do not have an ETA on it.

[2017-10-26 17:11] ktsakalozos commented on #100
Thank you

[2017-10-26 21:08] caseydavenport commented on #108
Ok, sounds like a potential upgrade bug.

Could you share the full logs from the upgrade?

[2017-10-27 15:07] awslovato commented on #108
Sure can, tell me which pods or services you would like to see.

[2017-10-27 18:01] caseydavenport commented on #108
I'm mostly interested in the logs from the upgrade job to see exactly where it's failing. There should be a pod with the name ` calico-upgrade-v2.5-xxxxxx` or similar.

You may need to use `kubectl get pods --show-all` in order to see it.

It would be useful to see the output of the following commands as well I think:

### Prior to upgrade

[code]

### After upgrade

[code]

[2017-10-27 22:28] awslovato commented on #108
[root@dfsbxvoconm1 calico]# kubectl get thirdpartyresource
the server doesn't have a resource type "thirdpartyresource"
[root@dfsbxvoconm1 calico]# kubectl get ippools
No resources found.
[root@dfsbxvoconm1 calico]# kubectl get globalconfig
the server doesn't have a resource type "globalconfig"

Also, none of the pods that failed seemed to generate any logs:
[root@dfsbxvoconm1 ~]# kubectl get pods

[2017-10-27 22:30] awslovato commented on #108
Should I just destroy the existing daemon set and recreate it with the 1.7 manifests?

[2017-10-30 21:36] caseydavenport commented on #108
[code]

That seems to indicate you're running a Kubernetes v1.8 cluster, which could be the problem - the migration scripts are meant to run on a Kubernetes v1.7 cluster.

That might work - you would lose any configured `globalconfig` or `ippools` but it looks like you might not have any of those anyway.

[2017-10-31 01:56] awslovato commented on #108
I have that as step 1 in my problem description.

What do you recommend for a 1.8 cluster?

[2017-10-31 20:36] caseydavenport commented on #108
@awslovato yeah, I noticed that and I realize now I didn't make it super clear that the upgrade instructions I linked to need to be run on a Kubernetes v1.7 cluster prior to upgrading to Kubernetes v1.8.

The steps are roughly:

- Upgrade to k8s v1.7 (if not already on v1.7)
- Run the migration steps linked above
- upgrade Calico
- Upgrade to k8s v1.8.

[These manifests](https://github.com/project

[2017-11-02 00:57] waldolf commented on #107
I have the same issue.

k8s v1.8.1 + canal (1.7/canal.yaml)
- quay.io/calico/node:v2.6.1
- quay.io/calico/cni:v1.10.0
- quay.io/coreos/flannel:v0.8.0

[2017-11-02 18:15] ozdanborne commented on #107
Sounds like this issue: https://github.com/coreos/flannel/issues/427
Looks like some vxlan improvements have made it into Flannel v0.9.0.

I'll look at getting a canal release ASAP that includes Flannel v0.9.0. Hopefully should resolve this problem.

[2017-11-03 15:30] felskrone opened #110 "Network for newly created pods fails"
I trying to setup my k8s-cluster with canal, but fail to do so due to errors in the kubelets logfile or rather setting up the network properly.

Canal from here https://github.com/projectcalico/canal/blob/master/k8s-install/1.7/canal.yaml
RBAC from https://github.com/projectcalico/canal/blob/master/k8s-install/1.7/rbac.yaml

Installation of canal looks good.

[code]

All pods seem to come up fine.

[2017-11-03 17:16] caseydavenport commented on #110
@felskrone interesting. Agreed that using the kubernetes api datastore, etcd certs shouldn't be involved at all.

Are there any other config files in `/etc/cni/net.d`?

[2017-11-06 15:23] awslovato commented on #108
I find it strange that it doesn't like the manifests as I went from 1.7.3 to 1.8.x I did not come from 1.6 at all.

[2017-11-07 14:52] felskrone commented on #110
I have not figured whats wrong, but i restarted from scratch and that seems to have resolved this.

I have another question, but its not related to this error.

[2017-11-07 14:52] #110 closed

[2017-11-07 16:32] felskrone opened #111 "net-conf.json not mounted into node"
I setup my cluster using canal and all busybox-pods and nodes can ping each other. But i had to workaround a problem i do not fully understand.

The [canal.yaml](https://github.com/projectcalico/canal/blob/master/k8s-install/1.7/canal.yaml) contains privileged containers that come with several binaries and configs. For example the container

[code]
contains the '_calico_' binary. This gets install

[2017-11-07 18:28] caseydavenport commented on #111
@felskrone only a single CNI network config is used, in this case that is `10-calico.conflist`.

What version of Kubernetes are you using? If it says the config is uninitialized, then likely it isn't respecting the `.conflist` suffix, which is support in k8s v1.7+ I think.

I think the workaround of installing the `10-flannel.conf` file is not correct, as that will bypass Calico and so policy will

[2017-11-07 19:14] felskrone commented on #111
To fully understand this (sorry, this might be beginner questions...):

By putting the custom 10-flannel.conf onto the node im bypassing calico completely? That means my setup is solely using the flannel/vxlan for networking even tough i applied the canal.yaml?

Is that why all my nodes are routing through the flannel.1 device?

[code]

---

Regarding the *.conflist support i just tried symlinking

[2017-11-07 21:16] caseydavenport commented on #111
@felskrone yep, that's correct. You've essentially just installed flannel :)

Yeah, the "no plugin name provided" error sounds very much like you're using a version of Kubernetes that does not support CNI plugin lists, which the latest canal manifests use.

The kubelet in older versions of k8s will only filter in files ending with `.conf`, which is why you were seeing the "no configuration" error

[2017-11-07 21:24] felskrone commented on #111
Im running hyperkube at version

[code]

and have used this file [canal.yaml](https://raw.githubusercontent.com/projectcalico/canal/master/k8s-install/1.7/canal.yaml) which is supposed to work with my k8s version.

[2017-11-07 22:06] caseydavenport commented on #111
@felskrone interesting, I wonder if the kubelet is also at that version (I'd expect v1.7.6 to work).

Could you try checking the kubelet version as well by passing it the `--version` flag?

[2017-11-08 06:26] felskrone commented on #111
Its all the same version because im just symlinking all executables to hyperkube.

[code]

[2017-11-13 08:43] felskrone commented on #111
Any update? I'd really prefer routing over flannel/vxlan :)

[2017-11-16 20:41] cdenneen commented on #11
@caseydavenport any fixes in queue for this? having issue with latest kops

[2017-11-16 20:45] tmjd commented on #11
Checkout https://docs.projectcalico.org/master/reference/kube-controllers/configuration, take note that is the master docs (not in an official release yet).  To answer your question, yes there is something in the queue. :grinning:

[2017-11-16 21:12] cdenneen commented on #11
@tmjd Thanks... I'm actually more referring to https://github.com/kubernetes/kops/issues/2661 and https://github.com/kubernetes/kops/issues/3224 and fix the temporary dns issues seen currently.

[2017-11-16 21:14] caseydavenport commented on #11
Yeah, there is a fix in master that will be included in upcoming releases.

Once released, we should update kops as well.

[2017-11-21 20:53] awslovato commented on #108
Applied the latest manifests today, and restarted the pods. I'm back up and running. Thanks for your assistance @caseydavenport  @tmjd !

[2017-11-21 20:53] #108 closed

[2017-11-21 23:31] #83 closed

[2017-12-11 15:44] KashifSaadat opened #115 "Flannel v0.9.1 adds FORWARD rules breaking networkpolicy behaviour"
## Expected Behavior
1. Configure the setting `FELIX_CHAININSERTMODE` to `append` in the canal manifest file
2. Deploy to a node
3. Inspect iptables: `iptables -nv -L FORWARD`
4. I would expect only 1 rule to be inserted by calico (at the bottom of the chain, if you have inserted custom iptables rules). For example:
[code]

## Current Behavior
Flannel v0.9.1 includes a change to add 2 rules to the

[2017-12-11 18:09] caseydavenport commented on #115
@KashifSaadat just to be clear, this is the correct and expected behavior for Felix when set to use "append" for its rules. By using "append", you're opening up a hole where another application might bypass policy.

That said, it's a bit sad that flannel doesn't play nicely here. There may be room for a change to flannel in order to disable the iptables rules that it installs, but I'll defer to @t

[2017-12-11 18:27] KashifSaadat commented on #115
Hey @caseydavenport, thanks for the update.

I'm afraid I don't have much experience with using Calico policies, at the time I implemented the custom iptables ruleset there wasn't support for defining these policies when using the K8s datastore (this was back on v2.4.1). Would you be able to point me at the docs for creating them?

[2017-12-11 18:30] caseydavenport commented on #115
@KashifSaadat Ah, yes. I forgot that canal was using the k8s api datastore. Support for Calico policies isn't available yet, but will be in Calico v3.0.0, to be released at the end of the year.

[2017-12-15 08:09] learnMachining opened #116 "how to install policy-only calico with an existing cni-less flannel on kubernetes?"
I have a kubernetes cluster. It uses flannel to provide network functionalities. And it closes cni network plugin.

However, flannel doesn't support kubernetes network policy, which I will test. What I want is to reserve existing network configuration, and install calico with policy-only mode.

Canal is a project that combines flannel and calico. But it regards flannel and calico both as cni plugi

[2017-12-15 15:57] caseydavenport commented on #116
@learnMachining it's not currently supported to add Calico to a pre-exising flannel installation. It's a lot of work because flannel connects pods to a bridge by default whereas Calico uses ptp veths.

It's possible to install Calico as a DaemonSet and keep flannel running on the host, but you _will_ need to use the flannel CNI plugin to delegate to the Calico one, and you'll need to re-deploy all

[2017-12-16 01:20] learnMachining commented on #116
@caseydavenport Thank you for explanation, I will try to install the whole Canal.

[2017-12-18 17:29] #116 closed

[2018-01-29 19:03] Blfrg opened #118 "Deprecated: What Now?"
I notice the repo is now deprecated, I have a few questions:

- Why has this been deprecated?
- What is the recommended path forward?

I thought at some point there was a goal to merge Calico and Flannel daemons into a single Canal daemon? Did this not prove beneficial?

- Should we just follow standard Calico guides?
- You linked to Canal instructions for v2.6 but the same category is not present

[2018-01-29 19:20] ozdanborne commented on #118
This _repo_ has been deprecated but the Canal project is alive and well - it's just being moved to the Calico docs repo so that it can be more easily released and stay up to date with Calico.

I think the deprecation message on this repo can be improved to better convey this, as right now it does sound like the project itself is deprecated.

[2018-01-29 19:42] tmjd commented on #118
The repo has been deprecated, but not the Canal deployment method. This was done to have the docs and manifests as part of the main Calico docs instead of living separately.

Canal will continue to be updated and is a viable installation method.

I'm not aware of a specific plan to merge the daemons/code bases together (that could have been before I was involved).

You can still use Canal, the man

[2018-01-29 19:59] Blfrg commented on #118
@ozdanborne & @tmjd Thank you for the clarification.

I'm sure this will help streamline project maintenance. Staying current over here did seem somewhat of an afterthought compared to the manifest updates seen for regular Calico.

However aside from the docs available on the front-end site it seems we'll have to scour deep into the Calico repo to find [Canal](https://github.com/projectcalico/cali

[2018-01-30 00:28] mrefaatMagalix opened #120 "kops update cluster networking to canal"
I had a cluster running flannel and kubernetes 1.9.0. i edited the cluster using kops edit cluster and changed the networking to canal. After running kops update cluster i'm not able to access the api or ssh to the nodes they are giving me timeout

I suppose this would be the right approach to change from flannel to canal.

[2018-01-30 00:35] caseydavenport commented on #120
@mrefaatMagalix currently, upgrading a live system from a pure flannel deployment to a canal deployment isn't supported without downtime (i.e. recreating all of the pods in the cluster, or re-creating your the entire cluster).

It might be related, but the inability to access the api or ssh to the nodes sounds more like a kops issue than a problem with canal to me.

[2018-01-30 17:56] mrefaatMagalix commented on #120
@caseydavenport even the pods connectivity is not happening

[2018-01-30 23:07] tmjd commented on #120
Have you verified that the Canal configuration will work with your previous setup?  One thing in particular from taking a peek at the kops manifests used, the flannel one allows setting the networking backend but the canal one does not and is set to vxlan. Do you know if vxlan traffic is allowed?

[2018-01-30 23:11] mrefaatMagalix commented on #120
@tmjd the previous setup was flannel/vxlan
i did restart the nodes and things started to work. The nodes were missing the routing table which have been updated after restart.

[2018-01-30 23:13] tmjd commented on #118
One benefit of using Canal would be the ability to use the networking options that flannel provides, really that is the only benefit that I am aware of.

If you can run Calico and it meets your needs then I don't think there is any benefit of running canal/flannel.

[2018-01-31 18:10] #118 closed

[2018-02-08 00:15] caseydavenport commented on #100
This seems to be fixed in Calico v2.6. The kube-policy-controller container is deprecated now, so please update to the newer version. Thanks!

[2018-02-08 00:15] #100 closed

[2018-02-09 23:13] tmjd commented on #120
@mrefaatMagalix Are things working now or is there still an issue? From your last message it is not clear.

[2018-02-22 00:58] ozdanborne commented on #107
The new canal manifests (which have been moved to https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/canal/) now include Flannel v0.9.1 so I'm going to close this issue.

I see that kubespray has bumped to v0.9 as well, so if anyone is still hitting this there make sure you've updated.

I suggest anyone still hitting this issue on Flannel v0.9+ please open a new iss

[2018-02-22 00:58] #107 closed

[2018-02-22 01:04] ozdanborne commented on #85
Closing this issue as stale.

[2018-02-22 01:04] #85 closed

[2018-02-22 07:05] mattymo commented on #107
Confirmed: Flannel v0.9 fixes our issues.

[2018-02-26 16:12] tmjd commented on #101
@ceridwen With the deprecation of the Canal repo for the docs in the Calico repo (https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/canal/), I think the appropriate place for a doc that has the specifics of how to use Canal on Minikube is in the Minikube docs.  I'm going to close this issue as it is old and I believe it should be targeted elsewhere.
@ceridwen if yo

[2018-02-26 16:12] #101 closed

[2018-02-26 16:24] tmjd commented on #111
@felskrone Did you ever make any progress with your setup?

[2018-03-01 19:49] caseydavenport commented on #95
Going to close since this is for an old version of calico/canal.

[2018-03-01 19:49] #95 closed

[2018-03-07 16:14] tmjd commented on #111
I'm going to close this issue for now.  If you (or anyone) want to try with newer versions and dig into this again we can re-open or a new issue can be created.

[2018-03-07 16:14] #111 closed

[2018-03-07 17:32] slecrenski opened #122 "vxlan_network.go:158] failed to add vxlanRoute (10.244.0.0/24 -> 10.244.0.0): invalid argument"
Docker: 1.12.6
RHEL: 7.3
Linux k8s-master 3.10.0-693.21.1.el7.x86_64 #1 SMP Fri Feb 23 18:54:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Kubernetes 1.9.3
quay.io/calico/node:v2.6.2
quay.io/calico/cni:v1.11.0
quay.io/coreos/flannel:v0.9.1

Azure Cloud with vnet address space: 10.244.0.0/16

[code]

Cluster was initialized with
[code]
[code]

Cluster is running in Azure with the same virtual network

[2018-03-07 20:02] slecrenski commented on #122
tcpdump -n udp dst portrange 8472
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on eth0, link-type EN10MB (Ethernet), capture size 262144 bytes
19:59:45.951924 IP 10.244.0.100.33274 > 10.244.0.4.otv: OTV, flags [I] (0x08), overlay 0, instance 1
IP 10.244.0.100.sun-sr-https > 10.244.3.2.36460: Flags [S.], seq 3980964095, ack 1743480415, win 27960, options [mss

[2018-03-11 18:16] slecrenski commented on #122
Figured it out.

[2018-03-11 18:16] #122 closed

[2018-03-22 15:24] EdSchouten opened #123 "The --iface option could use better documentation"
On modern Linux systems, the first network interface is no longer called `eth0`. On our systems, they tend to be called `enp0s31f6`. If you follow the instructions shown on [this page](https://github.com/projectcalico/canal/blob/master/k8s-install/README.md), you're starting `kube-flannel` without passing in the `--iface` command line flag. As it defaults to `eth0`, masquerading won't work.

Shoul

[2018-03-22 18:06] ozdanborne commented on #123
The first suggestion sounds sensible to me since iface is a setting that commonly needs adjusting.

[2018-03-22 18:08] ozdanborne opened #124 "remove deprecated content from this repo"
This repository is deprecated, and the canal project has moved to `projectcalico/calico` repository.

The warning on this repo is good, but we should remove the content (docs & manifests).

[2018-03-22 18:09] ozdanborne commented on #124
Lets figure out if anyone is directly linking to `kubectl apply -f` these manifests before we make this change...

[2018-03-30 19:30] lmyint55 opened #125 "Flannel Bare Metal pods fails!"
My Ubuntu 16.04 bare metal servers can't communicate to each other.  I have different addresses/subnets for the Ubuntu server and Kubernetes/flannel.
## Expected Behavior

Flannel Pods are no running on all of the servers!
## Current Behavior

 THIS IS MY MASTER SERVER:

[code]

Ubuntu Network is on 10.160.16.0/23 and flannel is setup on 10.160.100.0/24.
They are on blade servers with a switch bac

[2018-04-05 18:13] caseydavenport commented on #125
@lmyint55 if this is just a pure flannel question, could you please re-open the issue against the flannel repo? https://github.com/coreos/flannel/issues

[2018-04-05 18:13] #125 closed

[2018-04-11 03:23] tingweiwu opened #126 "pod ip cannot ping successfully when install cancal as k8s network componet"
## Expected Behavior

pod ip ping successfully from host

## Current Behavior

pod ip ping failed from host
[root@host-10-31-3-107 /]# ping 10.244.3.4
PING 10.244.3.4 (10.244.3.4) 56(84) bytes of data.
From 10.31.3.107 icmp_seq=1 Destination Host Unreachable
From 10.31.3.107 icmp_seq=2 Destination Host Unreachable
From 10.31.3.107 icmp_seq=3 Destination Host Unreachable

## Possible Solution

## S

[2018-04-11 15:20] tmjd commented on #126
Are the flannel and calico pods running successfully in kubernetes? If not you should check the logs (with `kubectl logs`) of any failing components.

[2018-04-20 00:32] #11 closed

[2018-04-26 10:27] george-angel opened #127 "kubectl-proxy doesn't work with netpols"
## Expected Behavior

Given a basic NetworkPolicy that allow traffic within namespace, we would like to have kubectl-proxy functionality to be able to reach pods in that namespace.

[code]

Policy above allows all traffic within the namespace, traffic from `sys-prom` namespace, and traffic from `sys-ingress-priv` - which is a namespace that contains internally facing ingress controllers.

With tha

[2018-04-30 16:10] caseydavenport commented on #127
@george-angel hm, yeah this is an interesting one.

I'm actually a bit fuzzy on the implementation details of kubectl proxy, but my understanding is that the requests will not go through your ingress controllers, which is probably why the second NP above isn't working as expected.

As you've discovered, since the pods are using host networking Kubernetes network policy doesn't apply to them the wa

[2018-05-02 11:36] george-angel commented on #127
Thanks @caseydavenport fixed using GlobalNetworkPolicies, for reference: https://github.com/utilitywarehouse/tf_kube_ignition/pull/34

[2018-05-02 11:36] #127 closed

[2018-05-16 15:30] primeroz commented on #74
Is there any progress on this ?

Having the same issue with canal on Google Cloud on kubernetes 1.9.7

Canal is fine and i can even ping through it but the "NetworkUnavailable" flag is set and so i can't schedule any workload

[2018-05-16 15:43] primeroz commented on #74
as a workaround i enabled the `--configure-cloud-routes=true` on the kube-controller-manager and now the flag is cleared and pods are scheduled. That seems like a very dirty solution though since there is no need for those routes while using CANAL

[2018-05-17 10:07] caseydavenport commented on #74
I think this is something that needs to be fixed upstream in Kubernetes. The fundamental assumption that if a cloud-provider is set then you need to use cloud routes is wrong, and will affect more than just canal.

One quick-fix for those who are doing this might be to use a side-car container in the canal daemonset which sets this flag, e.g. by using kubectl patch within a container.

[2018-05-17 11:00] primeroz commented on #74
I understand.
To be honest i *think* the cloud-controller-manager actually address that issue, but since is still Alpha i am not currently using it

I am trying to workaround the issue by just letting the kube-controller-manager create the routes it expect , if that does not work i will see to patch the node status with a sidecar container.
I guess i would feel better if canal did it just because

[2018-06-06 06:40] arasmax commented on #115
I have the same issue with k8s v1.10.2 and Calico v3.1.

[2018-06-29 09:14] miry opened #129 "Kubernetes v1.11 Failed validation"
During installation of CNI there is validation error:

[code]

Cluster installed via kubeadm v1.11.0.

[2018-06-29 15:15] tmjd commented on #129
Is there a reason you aren't not using the manifest hosted at https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/flannel?  This repo has been deprecated for the installation docs at the linked docs.

If you think you need to use the manifest located here you should just be able to remove the description field(s) that is causing that validation failure.

[2018-07-01 19:36] caseydavenport commented on #129
@tmjd yep, that's right.

I think we should remove the manifests from this repo now that it's been deprecated for several months. They're out-of-date now :)

[2018-07-05 18:15] #129 closed

[2018-07-09 10:41] miry commented on #129
@tmjd because I follow the documentation: https://github.com/projectcalico/canal/tree/master/k8s-install since Kube version 1.6. Thanks for link. I will check it.

[2018-07-25 23:23] xaka opened #130 "is it possible to add canal to an existing cluster that uses flannel?"
I have an old k8s cluster that's running in production. It uses cni + flannel for networking. It's been decided that we need to have network policies, which flannel doesn't support.

I'm curious whether it's possible to add calico/canal to an existing cluster that uses flannel already?

Thanks.

[2018-07-26 18:33] tmjd commented on #130
It is not a simple matter to switch to canal from flannel.  I am not aware of any way to do this on an existing cluster and maintain connectivity. It basically requires a full networking swap.

[2018-07-30 16:33] #130 closed

[2018-08-10 07:46] hrj713 opened #131 "Can not change the calico node log level"
After edit the configmap's `log_level` to `error` and set `FELIX_LOGSEVERITYSYS` pod environment variable as `error`, I can still see lots of `INFO` level logs when attach the canal pod
[code]

## Expected Behavior
Only error level logs are output

## Current Behavior
Can not find a way to change the log level

## Steps to Reproduce (for bugs)
1. edit the configmap, set `log_level` as `error`
2. e

[2018-08-10 21:26] upskill-mrollins commented on #31
If your software requires `iptables -P FORWARD ACCEPT` then why not set this when modifying all the other iptable rules?
This is still an issue with ubuntu 16.04, Docker 17.03.2, rancher/calico-node:v3.1.1

[2018-08-13 15:28] tmjd commented on #131
I think that is the wrong env var to set in the daemonset.  I think you should use `FELIX_LOGSEVERITYSCREEN`, that one you edited is for sending logs to syslog.  I think that manifest needs to be fixed, I just checked and if you look at https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/hosted/calico.yaml you'll see it uses the env var I suggested.

I've put up https://git

[2018-08-15 05:56] hrj713 commented on #131
`FELIX_LOGSEVERITYSCREEN ` works.   Thank you very much for your help.

[2018-08-15 14:25] #131 closed

[2018-08-16 19:30] tmjd commented on #31
@upskill-mrollins This repo is for Canal which is specific configuration of flannel and calico, there isn't any Canal software so there isn't really a place where it modifies iptables rules.

There is https://github.com/kubernetes/kubernetes/issues/39823, which I submitted a fix for to kube-proxy to address this issue (it has been merged and released). Since kube-proxy is responsible for setting u

[2018-08-17 18:05] upskill-mrollins commented on #31
Totally agree, I think this is more of a flannel issue than anything else, and their documentation does point this out.  I was new to Canal, and didn't understand the underlying dependencies.  It also turned out to be a default configuration by Rancher 2.0.6 which was enabling the pod security features of Canal.  They set this to disabled in their latest 2.0.7 release, so my cross namespace commun

[2018-08-26 18:04] Alphapage opened #132 "Change original ip pool"
Hello,

I can't find any info in the doc.
canal is in `CrashLoopBackOff` state because Kubernetes datastore is unauthorized. The policy is Node.
I have installed using kubeadm but without `--pod-network-cidr=10.244.0.0/16` . I used another ip.

Do I have to reinstall all the master cluster or is there a way to switch canal to the right ip ?

Thank you in advance for your help.

[2018-09-07 08:07] haoyehaoye commented on #80
@tmjd
the same problem is also happening to me.
I tried hostEndpoint, but it is still not working.  Is there any other approach?

[2018-09-13 15:35] tmjd commented on #80
@haoyehaoye I see in my example I showed Kubernetes Network Policy, sorry I think that is incorrect.  I don't think that will work when using hostEndpoints.  I believe you will need to use Calico  GlobalNetworkPolicy https://docs.projectcalico.org/v3.2/reference/calicoctl/resources/globalnetworkpolicy.  This is because Kubernetes Network Policy is namespaced and the hostEndpoints would not belong

[2018-10-09 17:38] #126 closed

[2018-10-11 23:55] daald commented on #31
I just wasted over 20 hours in trying to setup my first kubernetes cluster. And I'm still not there. In my eyes we have either a lack of documentation here "user is responsible for setting the rule to ACCEPT" or we have a bug. I tested with BOTH Flannel and Calico, so that means (when reading the above) that we already have at least 3 different network controllers which are not able to handle this

[2018-10-13 20:36] caseydavenport commented on #31
Kubernetes, specifically kube-proxy, _will_ add ACCEPT rules to the FORWARD table in order to cover this case provided the `--cluster-cidr` option is configured. If we're relying on that, we should probably document it, or stop relying on it.

I've raised a new issue to track doing something on this: https://github.com/projectcalico/calico/issues/2230

[2018-10-18 19:30] aarnaud commented on #74
Maybe we can do like Weave, set Kubernetes NodeNetworkUnavailable to false when calico start ? :
https://github.com/weaveworks/weave/pull/3307

[2018-10-24 00:39] #124 closed

[2018-10-24 00:41] #86 closed

[2018-10-24 00:42] #39 closed

[2018-10-24 21:38] aarnaud commented on #74
https://github.com/projectcalico/node/pull/89

[2018-11-03 01:48] caseydavenport commented on #89
It exists now as part of the PR template, as well as various contributing guides in github.com/projectcalico/calico.

[2018-11-03 01:48] #89 closed

[2018-11-03 22:00] caseydavenport commented on #74
Thanks @aarnaud!

This will be available in Calico v3.4.0.

[2018-11-03 22:00] #74 closed

[2018-11-03 22:03] caseydavenport commented on #115
Looks like this is just waiting on a flannel release.

Once that's done, we can update the manifests to use a new version of flannel and set the `--iptables-forward-rules=false` option on flanneld.

Also note that Canal now fully supports Calico global network policies, so the need for writing global reject iptables rules by hand is gone!

[2019-09-22 19:40] jakesyl commented on #124
Can we add this?

[2019-09-22 19:40] jakesyl commented on #124
https://joshrendek.com/2018/04/kubernetes-on-bare-metal/ offending link

[2019-10-21 18:08] caseydavenport commented on #115
We've updated to v0.11 so I think this should be good to go if someone wants to try making the changes?

[2019-10-21 18:13] KashifSaadat commented on #115
Sorry I forgot to update! I have tested and can confirm that using flannel v0.11.0 with the new environment variable / flag set for the deployment (introduced in that release) fixes this issue. I'll close the issue, thanks!

[2019-10-21 18:13] #115 closed

[2019-12-13 11:59] HristoA commented on #80
Hi all.
I have the same case and can't found right solution.
I have rgith now 2 namespaces: `ingress-nginx` & `prod`. Inside first one i have ingress-nginx with `hostNetwork: true` that i want to allow to work correctly with NP that restric ingress of pods with labels: **api** (that is located in **namespace=prod**) to specific sources.
I use K8s: 1.14.9 and Calico:
[code]
I have this yml files:
[

[2019-12-16 15:28] tmjd commented on #80
@HristoA Please open a new issue as this one is quite old and against a different version of Calico and the original issue was with Canal.
I'm also not clear on what the problem is you are experiencing.

[2019-12-18 11:47] HristoA commented on #80
Hi.
I write it here because my problem is the same as described from origin creator of issue. I found solution thanks to  @fasaxc  and @Irobson
`If you're using IPIP, the IP you need in your policy will be the tunnel IP.`
I confirm that my case is with `ipip_mode=Always` and I just go and check K8s node annotations value of `projectcalico.org/IPv4IPIPTunnelAddr=XX.XXX.XXX.XXX` where `XX.XXX.XXX.XX

[2020-03-23 16:54] 01mcgrady01 commented on #80
Hi.
I found that in some situation(like node restart, calico pod restart), tunnel ip may changed, so I have to modify NP. Is there a way to solve?

[2021-04-19 08:20] boogiefromzk commented on #122
What have helped?

[2021-06-21 14:24] Jonas18175 opened #136 "Canal/Calico problems on Fedora CoreOS"
Hello,

I setup a rancher cluster on Fedora CoreOS as base. We have problems with aborted connections between pods which results in restarts because of failed health requests. I used Calico as Network CNI in IPIP mode. Because I didn't find the reason for the connection losts I tried to switch to canal, because it use vxlan as default. It was running perfectly until today - the complete CNI had a

[2021-06-29 16:46] caseydavenport commented on #136
This sounds like Felix has VXLAN enabled, which would normally tell it to create the vxlan.calico device. It might be failing because flannel is also running and trying to configure VXLAN on the node? not sure. Switching between CNI plugins on the same cluster is bound to cause issues, though.

Generally, changing CNI plugins requires a fresh node to prevent configuration from the old plugin impac

[2021-07-14 14:12] linyinli opened #137 "Canal didn't add blackhole route, why?"
## Expected Behavior

Pod traffic does not go out of the host.

## Current Behavior

Pod traffic was going out of the host.

## Possible Solution

Fix it.

## Steps to Reproduce (for bugs)

1. Use Canal(VXLAN) for K8s CNI plugin;
2. Create a nginx pod in host 1;
3. Create a alpine pod in host 2;
4. Use tcpdump to show host nic traffic in the host 1;
5. Use alpine pod to curl nginx pod IP, the traf

[2021-07-14 14:55] linyinli commented on #137
This is my pods list:
nginx pod IP 10.42.0.36
alpine pod IP 10.42.1.28
<img width="1043" alt="pods-list" src="https://user-images.githubusercontent.com/42955482/125641796-7bcd77ff-f564-483b-aa9d-be2477055d7f.png">
There is my curl record:
I exec into alpine and curl the nginx pod IP, the result of curl is normal when nginx pod exists, and it return "Operation timed out" after I deleted the nginx p

[2021-07-15 17:02] Jonas18175 commented on #136
I tryed it on a fresh node, but it is the same result.
At the moment I get the errors in shorter intervals like 5-10 minutes. The pods are connected to a database cluster inside kubernetes which has a ha proxy with 3 replicas - so the database connections drop very rare, but many packages don't reach the target - all deployments have gateway timeout (504) errors in a interval of 5-10 minutes.  Fla

[2021-07-27 05:45] Jonas18175 commented on #136
Update: I setup fresh nodes with OpenSuse - but old etcd datastore.
After RKE setup it has the same problems with calico and canal. So I tried to remove the CNI with RKE also set it to none and I installed the latest version from the Calico "Helm Chart" from the offical page. This works, but it has also some connection issues but only 5-24x per day. The Logs are also spammed with the message: `[ER

[2021-08-17 23:12] caseydavenport commented on #137
If you want those blackhole routes, you probably need to either raise an issue with flannel itself (who is responsible for programming of the routes) or just use Calico VXLAN which recently added support for programming those blackhole routes.

This repository isn't maintained any more, and the Calico / flannel integration is instead maintained at github.com/projectcalico/calico

[2021-08-17 23:12] #137 closed, assigned to nobody

[2022-01-21 08:34] harridu opened #138 "migration path from legacy iptables to nft?"
## Expected Behavior
I would like to replace legacy iptables by nft on all nodes in my cluster, as described on https://wiki.debian.org/nftables. Would it be possible to support a migration path?

## Current Behavior
After stopping Docker on all nodes, replacing the legacy tools by nft and rebooting all nodes coredns cannot connect to an external DNS.

## Context
Sticking with legacy tools puts fu

[2022-01-21 08:38] #138 closed, assigned to nobody

[2022-01-21 08:39] harridu commented on #138
reopened on projectcalico/calico